.display-note{
    display: flex;
    flex-wrap: column;
    position: absolute;
    left: 10%;
    width: 85%;
    column-gap: 15px;
    margin-top: 80px;
<<<<<<< HEAD
}
=======
}
>>>>>>> a4c7aac (Added: UC6_ Added Create note getall note and Display note_using PC datasharing via input)
