<div class="create-note-footer">
        <div class="create-note-btn">
                <button mat-icon-button matTooltip="Reminde me">
                        <img src="../../../assets/Dasboard/add_reminder.png" />
                </button>
                <button mat-icon-button matTooltip="Collaborator">
                        <img src="../../../assets/Dasboard/add_person.png" />
                </button>
                <button mat-icon-button matTooltip="Background options" class="bg-color">
                        <img src="../../../assets/Dasboard/color.png" />
                </button>
                <button mat-icon-button matTooltip="Add image">
                        <img src="../../../assets/Dasboard/add_image.png" />
                </button>
                <button mat-icon-button matTooltip="Archive">
                        <img src="../../../assets/Dasboard/archive.png" />
                </button>
                <button mat-icon-button matTooltip="More">
                        <img src="../../../assets/Dasboard/more.png" />
                </button>
                <button mat-icon-button matTooltip="Undo">
                        <img src="../../../assets/Dasboard/undo.png" />
                </button>
                <button mat-icon-button matTooltip="Redo">
                        <img src="../../../assets/Dasboard/redo.png" />
                </button>
        </div>
        <button mat-button matTooltip="Close" mat-dialog-close class="close-card">Close</button>
</div>